<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.factory.podstudio.podcast.repository.PodCastMapper">
	<select id="selectPodCastList" parameterType="com.factory.podstudio.podcast.model.PodCast"
		resultType="com.factory.podstudio.podcast.model.PodCast">
	
	</select>
</mapper>