<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.factory.podstudio.listen.repository.ListenMapper">
	<select id="selectListenRankingByListenCount" parameterType="com.factory.podstudio.listen.model.Listen"
												resultType="com.factory.podstudio.listen.model.Listen">
		SELECT podcast_no AS podCastNo
		, (SELECT COUNT(listen_count)
			FROM listen l2
			WHERE l2.listen_count > l1.listen_count)+1 listenRank
		FROM listen l1
		ORDER BY listenRank
	</select>
</mapper>