@CHARSET "EUC-KR";

#wrap {
	width: 1200px;
	margin: 0 auto;
}

#wrap .container {
	width: 100%;
}

#wrap .container .row #header {
	height: 100px;
	background-color: #F2F2F2;
}

#wrap .container .row #nav_menu {
	height: auto;
	background-color: #E6E6E6;
}

#wrap .container .row #banner {
	height: 140px;
	background-color: #D8D8D8;
}
#wrap .container .row #banner #carousel-example-generic .carousel-inner .item img {
	height: 140px;
}

#wrap .container .row #login {
	height: 140px;
	background-color: #D8D8D8;
}

#wrap .container .row #left {
	height: auto;
	background-color: #BDBDBD;
}

#wrap .container .row #main {
	height: auto;
}

#wrap .container .row #right {
	height: auto;
	background-color: #BDBDBD;
}

#wrap .container .row #footer {
	height: 80px;
	text-align: center;
	background-color: #E6E6E6;
}
#wrap .container .row #footer #footerText {
	size: 3px;
}

#wrap .container .row .col-md-8 {
	height: auto;
}

#wrap .container .row #myheader {
	height: 50px;
}

#wrap .container .row #mymenu {
	height: 600px;
}
