@CHARSET "EUC-KR";

#wrap {
	width: 1200px;
	margin: 0 auto;
}

#wrap .container {
	width: 100%;
}

#wrap .container .row #header {
	height: 100px;
}

#wrap .container .row #nav_menu {
	height: auto;
	background-color: silver;
	opacity: 0.4;
}

#wrap .container .row #banner {
	height: 140px;
}

#wrap .container .row #banner marquee img {
	height: 140px;
}

#wrap .container .row #login {
	height: 140px;
}

#wrap .container .row #left {
	height: auto;
}

#wrap .container .row #main {
	height: auto;
}

#wrap .container .row #right {
	height: auto;
}

#wrap .container .row #footer {
	height: 80px;
	text-align: center;
}

#wrap .container .row #footer #footerText {
	size: 3px;
}

#wrap .container .row .col-md-8 {
	height: auto;
}

#wrap .container .row #myheader {
	height: 50px;
}

#wrap .container .row #mymenu {
	height: 600px;
}