<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.factory.podstudio.advertising.banner.repository.CMMapper">
	<insert id="insertCM" parameterType="com.factory.podstudio.advertising.cm.model.CM">
		INSERT INTO CM
			(cm_no
			, podcast_no
			, studio_no
			, cost_no
			, pay_no
			, cm_product
			, cm_company
			, cm_content
			, cm_count
			, cm_date
			, cm_servicestart
			, cm_serviceend
			, cm_status)
		VALUES
			(#{cmNo}
			, #{podcastNo}
			, #{studioNo}
			, #{costNo}
			, #{payNo}
			, #{cmProduct}
			, #{cmCompany}
			, #{cmContent}
			, #{cmCount}
			, SYSDATE()
			, SYSDATE()	<!-- #{cmServiceStart} -->
			, SYSDATE()	<!-- #{cmServiceEnd} -->
			, #{cmStatus});
	</insert>
</mapper>