<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.factory.podstudio.advertising.banner.repository.CMMapper">
	<insert id="insertCM" parameterType="com.factory.podstudio.advertising.cm.model.CM">
		INSERT INTO cm
			(cm_no
			, podcast_no
			, user_no
			, studio_no
			, cost_no
			, pay_no
			, cm_product
			, cm_company
			, cm_content
			, cm_count
			, cm_date
			, cm_servicestart
			, cm_serviceend
			, cm_status)
		VALUES
			(#{cmNo}
			, #{userNo}
			, #{podcastNo}
			, #{studioNo}
			, #{costNo}
			, #{payNo}
			, #{cmProduct}
			, #{cmCompany}
			, #{cmContent}
			, #{cmCount}
			, SYSDATE()
			, #{cmServiceStart}
			, #{cmServiceEnd}
			, #{cmStatus});
	</insert>
	
	<!-- <select id="selectUserByUserNo" parameterType="java.util.Map"
									resultType="com.factory.podstudio.advertising.cm.model.CM">
		SELECT
			cm.cm_no AS cm_no
			, user.user_nickname AS userNickname
			, cm.cm_product AS cmProduct
			, cm.cm_company AS cmCompany
			, cm.cm_content AS cmContent
			, cm_count AS cmCount
			, DATE_FORMAT(cm_date, '%p%Y-%m-%d %h:%i') AS cmDate
			, DATE_FORMAT(cm_servicestart, '%p%Y-%m-%d %h:%i') AS cmServiceStrart 
			, DATE_FORMAT(cm_serviceend, '%p%Y-%m-%d %h:%i') AS cmServiceEnd
			, cm_status AS cmStatus
		FROM cm INNER JOIN user ON
		cm.user_no = user_no
		<where>
			<if test="word != null">
				cm_no LIKE CONCAT ('%',#{word},'%') OR
				cm_title
				LIKE CONCAT ('%',#{word},'%')
			</if>
		</where>
		ORDER BY cm_no DESC
		LIMIT #{cmPageHelper.startPage},
		#{cmPageHelper.linePerPage}
	</select> -->
	
	
	<!-- <select id="selectUserByUserNo" parameterType="java.util.Map"
									resultType="com.factory.podstudio.advertising.cm.model.CM">
		SELECT
			cm.cm_no AS cmNo
			, cm.user_no AS userNo
			, user.user_nickname AS userNickname
			, cm.cm_product AS cmProduct
			, cm.cm_company AS cmCompany
			, cm.cm_content AS cmContent
			, cm_count AS cmCount
			, DATE_FORMAT(cm_date, '%p%Y-%m-%d %h:%i') AS cmDate
			, DATE_FORMAT(cm_servicestart, '%p%Y-%m-%d %h:%i') AS cmServiceStrart 
			, DATE_FORMAT(cm_serviceend, '%p%Y-%m-%d %h:%i') AS cmServiceEnd
			, cm_status AS cmStatus
		FROM cm 
		INNER JOIN user
		ON cm.user_no = user_no
		WHERE user_no = #{cm.userNo}
	</select> -->
	<select id="selectUserByUserNo" parameterType="com.factory.podstudio.advertising.cm.model.CM"
									resultType="com.factory.podstudio.advertising.cm.model.CM">
									
		SELECT
		c.cm_no as cmNo,
		c.cm_product as cmProduct,
		c.cm_company as cmCompany,
		c.cm_content as cmContent
					
		FROM cm AS c
		INNER JOIN user AS u
		ON c.user_no = u.user_no
		WHERE u.user_no = #{userNo}
		ORDER BY cm_no DESC

				
	</select>
</mapper>