<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.factory.podstudio.customercenter.repository.CustomerCenterMapper">
	<select id="selectQuestion" parameterType="java.util.Map"
		resultType="com.factory.podstudio.customercenter.model.Customercenter">
		select
		customercenter.customercenter_no AS customercenterNo,
		customercenter.user_no AS userNo,
		user.user_nickname AS userNickname,
		customercenter.category_no AS categoryNo,
		category.category_sub AS
		categorySub,
		customercenter.customercenter_title AS
		customercenterTitle,
		customercenter.customercenter_content AS
		customercenterContent,
		DATE_FORMAT(customercenter_date,'%p
		%Y-%m-%d
		%h:%i') AS customercenterDate
		from customercenter

		inner join user
		inner
		join category
		on customercenter.user_no = user.user_no
		and
		customercenter.category_no = category.category_no

		ORDER BY
		customercenter_date DESC
		LIMIT #{pageHelper.startPage},
		#{pageHelper.linePerPage}

	</select>

	<select id="selectTotalCount" resultType="Integer">
		SELECT
		COUNT(*)
		FROM
		customercenter
	</select>

	<insert id="insertQuestion"
		parameterType="com.factory.podstudio.customercenter.model.Customercenter">
		INSERT INTO customercenter
		(customercenter_no,
		user_no,
		category_no,
		customercenter_title,
		customercenter_content,
		customercenter_date)

		VALUES (
		#{customercenterNo},
		#{userNo},
		#{categoryNo},
		#{customercenterTitle},
		#{customercenterContent},
		SYSDATE()
		)
	</insert>

	<select id="selectOneCustomercenter" parameterType="com.factory.podstudio.customercenter.model.Customercenter"
	resultType="com.factory.podstudio.customercenter.model.Customercenter">
		SELECT
		customercenter_title AS customercenterTitle,
		customercenter_content AS customercenterContent		
		from customercenter 
		where customercenter_no = '${customercenterNo}'
	</select>
</mapper>